<% provide(:title, "About") %>
    <h1>About deej and the team</h1>
    <p>
      <h3>Project Description</h3>
      <p>Deej is a social media web application that allows users to interact, via commenting, following, and other features, with their friends and online DJs. Interactions include submitting suggestions to a media player queue, gaining thousands of followers and loyal fans, as well as simply listening to your best friend’s music as he listens to it.</p>

      <h3>Team Members</h3>
      <%= link_to image_tag("David_Scheibe.jpg", alt: "David's Pic", size: "90x90")%><br>
      David Scheibe<br>
      004124290<br>

      <%= link_to image_tag("Killian_Jackson.jpg", alt: "David's Pic", size: "90x90")%><br>
      Patrick Killian Jackson<br>
      504184347<br>

      <%= link_to image_tag("Nathaniel_Chu.jpg", alt: "David's Pic", size: "90x90")%><br>
      Nathaniel Chu<br>
      304449551<br>

      <%= link_to image_tag("Michael_Chen.jpg", alt: "David's Pic", size: "90x90")%><br>
      Michael Chen<br>
      904295193<br>
    </p>