<div class="center jumbotron">
  <h1>Welcome to deej</h1>
  <% if logged_in? %>
    <div class="row">
      <div
        <span><%= link_to "View active DJ's", users_path %></span>
      </div>
      <div
        <span><%= link_to "Start sharing your own music!", current_user %></span>
      </div>
    </div>
  <% else %>
  <h2>
    Please log in to begin listening to personalized DJ sets from all over!
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>