<h3>Followers (<%= @user.followers.count %>)</h3>
<p>DJ's following <%= @user.name %>!</p>
<% if @followers.any? %>
	<% cache(cache_key_for_followers (@user)) do %>
	<ul class="users follow">
	  <%= render @followers %>
	</ul>
	<%= will_paginate @followers%>
	<% end %>
<% end %>