<% if @user.microposts.any? %>
<h3>Comments (<%= @user.microposts.count %>)</h3>
<p>Comment about this DJ!</p>
<ol class="microposts">
  <%= render @microposts %>
</ol>
<%= will_paginate @microposts %>
<% end %>