<% if @current_user == @user %>
<div>
	<input type="search" id="deezer-search">
	<button onClick="getSong();">Search Deezer</button>
</div>

<table>
	<thead>
		<tr>
			<th>Song Title</th>
			<th>Artist Name</th>
			<th>Album Name</th>
		</tr>
	</thead>
	<tbody id="songs">
	</tbody>
</table>

<% else %>
<h3>You can only add songs to your own playlist!</h3>
<% end %>