<% provide(:title, 'Top DJ\'s') %>
<h1>Top DJ's</h1>

<div class="user_block">
<%= will_paginate %>
<ul class="users">
  <%= render @users_ordered_followers %>
</ul>
<%= will_paginate @users_ordered_followers %>
</div>