<footer class="footer">
  <small>
    CS188 Scalable Internet Services - deej
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="https://github.com/scalableinternetservices/deej">Github</a></li>
    </ul>
  </nav>
</footer>